In [46]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats as stats
from sklearn.model_selection import train_test_split

In [17]:
breast = pd.read_table(r'data_set\breast-cancer-wisconsin.data.txt', delimiter=',')
breast

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [29]:
breast.columns, breast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      699 non-null    int64
 1   clump_thickness         699 non-null    int64
 2   unif_cell_size          699 non-null    int64
 3   unif_cell_shape         699 non-null    int64
 4   marg_adhesion           699 non-null    int64
 5   single_epith_cell_size  699 non-null    int64
 6   bare_nuclei             699 non-null    object
 7   bland_chrom             699 non-null    int64
 8   norm_nucleoli           699 non-null    int64
 9   mitoses                 699 non-null    int64
 10  class                   699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

(Index(['id', 'clump_thickness', 'unif_cell_size', 'unif_cell_shape',
        'marg_adhesion', 'single_epith_cell_size', 'bare_nuclei', 'bland_chrom',
        'norm_nucleoli', 'mitoses', 'class'],
       dtype='object'),
 None)

In [33]:
breast_ = breast.rename(columns={'class': 'class_'})

In [34]:
breast_

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class_
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [47]:
# 训练集和测试集划分
# 分开特征和目标变量
# breast_.drop(columns='class_')
X = breast_[['id', 'clump_thickness', 'unif_cell_size', 'unif_cell_shape', 'marg_adhesion', 'single_epith_cell_size', 'bare_nuclei', 'bland_chrom', 'norm_nucleoli', 'mitoses']]
y = breast_[['class_']]

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [56]:
# 测试集
breast_train = pd.concat([X_train, y_train], axis=1).reset_index(drop=True)
breast_train

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class_
0,859350,8,10,10,7,10,10,7,3,8,4
1,1315807,5,10,10,10,10,2,10,10,10,4
2,561477,1,1,1,1,2,1,3,1,1,2
3,1255384,3,2,2,3,2,3,3,1,1,2
4,1201936,5,10,10,3,8,1,5,10,3,4
...,...,...,...,...,...,...,...,...,...,...,...
484,1123061,6,10,2,8,10,2,7,8,10,4
485,1170419,10,10,10,8,2,10,4,1,1,4
486,390840,8,4,7,1,3,10,3,9,2,4
487,1294562,10,8,10,1,3,10,5,1,1,4
488,1167471,4,1,2,1,2,1,3,1,1,2

In [57]:
breast_test = pd.concat([X_test, y_test], axis=1).reset_index(drop=True)
breast_test

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class_
0,1193683,1,1,2,1,3,?,1,1,1,2
1,1217952,4,1,1,1,2,1,2,1,1,2
2,1176187,3,1,1,1,2,1,3,1,1,2
3,1192325,5,5,5,6,3,10,3,1,1,4
4,733639,3,1,1,1,2,?,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
205,1036172,2,1,1,1,2,1,2,1,1,2
206,1334667,1,1,1,1,2,1,1,1,1,2
207,1334071,4,1,1,1,2,3,2,1,1,2
208,1202125,4,1,1,1,2,1,3,1,1,2
209,1043068,3,1,1,1,2,1,2,1,1,2

In [60]:
# 逻辑回归
breast_glmmodel_train = smf.glm('class_ ~ id + clump_thickness + unif_cell_size + unif_cell_shape + marg_adhesion + single_epith_cell_size + bare_nuclei + bland_chrom + norm_nucleoli + mitoses', data=breast_train).fit()
breast_glmmodel_train

In [61]:
breast_glmmodel_train.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 class_   No. Observations:                  489
Model:                            GLM   Df Residuals:                      469
Model Family:                Gaussian   Df Model:                           19
Link Function:               Identity   Scale:                         0.14150
Method:                          IRLS   Log-Likelihood:                -205.55
Date:                  周二, 27 8月 2024   Deviance:                       66.365
Time:                        17:31:13   Pearson chi2:                     66.4
No. Iterations:                     3   Pseudo R-squ. (CS):             0.9960
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                  1.6277      0.050     32.751      0.000       1.530       1.725
bare_nuclei[T.10]          0.9095      0.071     12.750      0.000       0.770       1.049
bare_nuclei[T.2]           0.1366      0.089      1.532      0.125      -0.038       0.311
bare_nuclei[T.3]           0.6455      0.104      6.208      0.000       0.442       0.849
bare_nuclei[T.4]           0.5771      0.116      4.990      0.000       0.350       0.804
bare_nuclei[T.5]           0.5771      0.091      6.310      0.000       0.398       0.756
bare_nuclei[T.6]           1.1758      0.280      4.205      0.000       0.628       1.724
bare_nuclei[T.7]           0.8041      0.155      5.177      0.000       0.500       1.109
bare_nuclei[T.8]           0.8122      0.121      6.709      0.000       0.575       1.050
bare_nuclei[T.9]           1.0084      0.148      6.802      0.000       0.718       1.299
bare_nuclei[T.?]          -0.0004      0.130     -0.003      0.997      -0.256       0.255
id                     -1.715e-08   2.41e-08     -0.713      0.476   -6.43e-08       3e-08
clump_thickness            0.0529      0.008      6.277      0.000       0.036       0.069
unif_cell_size             0.0344      0.016      2.135      0.033       0.003       0.066
unif_cell_shape            0.0398      0.015      2.576      0.010       0.010       0.070
marg_adhesion              0.0069      0.009      0.732      0.464      -0.012       0.026
single_epith_cell_size     0.0117      0.012      0.970      0.332      -0.012       0.035
bland_chrom                0.0479      0.012      3.960      0.000       0.024       0.072
norm_nucleoli              0.0244      0.009      2.703      0.007       0.007       0.042
mitoses                    0.0139      0.013      1.103      0.270      -0.011       0.039
==========================================================================================
"""

In [ ]:
# predict(fit.logit, df.validate, type='response)
# factor(prob > .5, levels = c(False, True), labels=c('benign', 'malignant'))
# table(df.validate$class, logit.pred, dnn=c('Actual', 'Predicted'))